.aboutphoto
{
    padding:10px 10px;
    border:10px solid yellow;
    border-radius:50%;
    margin:auto;
    height:400px;
    width:400px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:3px;
}
.btn-box
{ 
    text-decoration:none;
    background-color:rgb(234, 6, 246);
    color:white;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items: center;
    width:300px;
    text-align: center;
}
.text{
    color:rgb(8, 0, 255);
    font-weight: bold;
}
