    <div  classs="abouta" style="padding-bottom:30px;">
        
        <div class="about-img">
            <img src="assets/photo.jpg" class="aboutphoto">
        </div>
        <div class="about-text">
            
            <h3>Full stack java Developer ,AWS Engineer</h3>
            <p> I'm Narla Chakrapani Reddy, a passionate Computer Science and Engineering student at Rajeev Gandhi Memorial College of Engineering and Technology, Nandyal.
                 With a strong academic foundation and hands-on experience in Java, Python,Frond-end Development and Basics of Back-end Development.I thrive on solving problems and 
                 building impactful software solutions.I’ve developed several projects including a personal portfolio website, a Python-based Snake Game, and 
                 Participated in internal Hackathons in  my college like smart-india internal Hackathon and codeathon.
                 I’m a certified AWS Cloud Practitioner.


            </p>
            <h3>And I'm a <span class="text"></span></h3>

            <button (click)="callShowFunction()" class="btn btn-danger">Click Me</button>
            
            <div style="display:flex; justify-content:center; align-items:center;">
                <a class="btn-box" href="https://narlachakrapanireddy.github.io/Portfolio/">More About Me Visit My portfolio</a>
            </div>
        </div>

    </div>